.ChooseTopTitle {
  color: var(--text-key-color);
  font-weight: 600;
  text-align: start;
  margin-top: 80px;
  margin-left: 5%;
  font-size: 1.7em;
}

.hr-line {
  border-top: 5px solid var(--text-key-color); /* 上辺に黒色の1pxの線を引く */
  width: 100%; /* 幅を指定 */
  margin-bottom: 40px;
  margin-left: 1.5vw;
}

@media (max-width: 600px) {
  .hr-line {
    margin-left: 0;
    width: 100%;
  }
}

.ChooseQuizListTitle {
  color: var(--text-color-3);
  text-align: start;
  margin-left: 5%;
  font-size: 1em;
  font-weight: 600;
}

.ChooseQuizListTitleKoukou {
  color: var(--text-color-3);
  text-align: start;
  margin-left: 5%;
  font-size: 1.1em;
  font-weight: 600;
}

.ChooseQuizDataList {
  color: var(--text-color-3);
  overflow-x: auto; /* 横方向のスクロールを許可 */
  white-space: nowrap; /* 子要素を改行させない */
  /* 横スクロールバーを非表示にする */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */

  /* Chrome, Safari, Opera */
  &::-webkit-scrollbar {
    display: none;
  }
  margin-right: 7%;
  margin-left: 1%;
  margin-bottom: 30px;
}

.ChooseQuizContainerWrapper {
  /* これを外すだけで、縦スクロールに戻せる */
  display: inline-block;
  padding: 0;
  margin-right: 12%;
  width: 70%;
  height: auto;
  aspect-ratio: 16 / 9;
  margin: 5px 7% 0px 4%;
  position: relative;
}

.ChooseQuizContainer {
  /* margin: 5%;
  margin-top: 3%; */
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
  text-align: start;
  border-radius: 13px;
  padding: 15px 2% 0 6%;
  background-color: var(--main-color);
  border: 2px solid var(--gray-border-color);
}

.ChooseQuizContainer:active {
  /* border-bottom: 5px solid #f39c19; */
  box-shadow: inset 0 -5px 0 0 var(--key-color-2);
  transform: scale(0.98);
}

@media (min-width: 600px) {
  .ChooseQuizContainer:hover {
    box-shadow: inset 0 -5px 0 0 var(--key-color-2);
  }
}

.ChooseQuizContent {
  position: relative;
}

.ChooseQuizLabel {
  margin: 2px 0 5px 5px;
  font-size: 1.1em;
  font-weight: 700;
}

.ChooseQuizContainerOpen {
  /* 力技感は否めない */
  position: absolute;
  top: 72%;
  right: 6%;
  font-size: 0.9em;
  color: var(--text-color-3);
  font-weight: 600;
  text-decoration: none;
}

.ChooseQuizContainerOpenSentence {
  padding: 2px 10px;
  display: inline-block;
  border: 2px solid var(--gray-border-color);
  border-radius: 7px;
}

.choose-quiz-make-prompt {
  font-weight: 500;
  text-align: start;
  margin-inline: 5.2%;
  margin-bottom: 60px;
  color: var(--text-color-3);
}

.choose-quiz-make-prompt-url {
  color: var(--link-text-color);
  text-decoration: underline;
  cursor: pointer;
}

.login-prompt-container {
  display: flex;
  justify-content: center; /* X軸で中央に配置 */
  margin-inline: 4%;
}

.choose-quiz-menus {
  position: absolute;
  top: 70%;
  left: 6%;
  margin: 0;
}

.owner-drop-menu {
  background-color: transparent;
  border: none;
  /* border: 2px solid var(--gray-border-color);
  border-radius: 50%; */
  /* display: flex;
  justify-content: center;
  width: 30px;
  height: 30px; */
  cursor: pointer;
  color: var(--text-color-2);
}
