.ChooseTopTitle {
  color: #ffb056;
  -webkit-text-stroke: 1px #ffb056;
  text-align: start;
  margin-top: calc(15 * var(--app-vh, 1vh));
  margin-left: 5%;
  font-size: 1.7em;
  /* margin-bottom: calc(3 * var(--app-vh, 1vh)); */
  font-family: "M PLUS Rounded 1c", sans-serif;
}

@media (max-width: 600px) {
  .ChooseTopTitle {
    margin-top: calc(11 * var(--app-vh, 1vh));
  }
}

.hr-line {
  border-top: 5px solid #ffb056; /* 上辺に黒色の1pxの線を引く */
  width: 100%; /* 幅を指定 */
  margin-top: calc(0.2 * var(--app-vh, 1vh));
  margin-bottom: calc(5 * var(--app-vh, 1vh));
  margin-left: 1.5vw;
}

@media (max-width: 600px) {
  .hr-line {
    margin-left: 0;
    width: 100%;
  }
}

.ChooseQuizListTitle {
  color: #4a4a4a;
  -webkit-text-stroke: 0.7px #4a4a4a;
  text-align: start;
  margin-left: 6.5%;
  /* margin-top: calc(18 * var(--app-vh, 1vh)); */
  font-size: 1.1em;
}

.ChooseQuizListTitleKoukou {
  color: #4a4a4a;
  -webkit-text-stroke: 0.7px #4a4a4a;
  text-align: start;
  margin-left: 6.5%;
  margin-top: calc(10 * var(--app-vh, 1vh));
  font-size: 1.1em;
}

.ChooseQuizDataList {
  color: #414141;
  overflow-x: auto; /* 横方向のスクロールを許可 */
  white-space: nowrap; /* 子要素を改行させない */
  /* 横スクロールバーを非表示にする */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */

  /* Chrome, Safari, Opera */
  &::-webkit-scrollbar {
    display: none;
  }
  margin-right: 7%;
}

.ChooseQuizContainerWrapper {
  /* これを外すだけで、縦スクロールに戻せる */
  display: inline-block;
  /* width: 88%; */
  /* border: none;
  background-color: transparent; */
  padding: 0;
  margin-right: 12%;
  width: 75%;
  height: auto;
  aspect-ratio: 16 / 4; /* 例: 16:9のアスペクト比 */
}

.ChooseQuizContainer {
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
  margin: 5%;
  text-align: start;
  border-radius: 13px;
  padding: 5% 2% calc(13 * var(--app-vh, 1vh)) 6%;
  background-color: #fcfcfc;
  border: 2px solid #f1eeed;
}

.ChooseQuizContainer:active {
  /* border-bottom: 5px solid #f39c19; */
  box-shadow: inset 0 -5px 0 0 #f39c19;
  transform: scale(0.98);
}

@media (min-width: 600px) {
  .ChooseQuizContainer:hover {
    box-shadow: inset 0 -5px 0 0 #f39c19;
  }
}

@media (max-width: 600px) {
  /* スマートフォン用のスタイル */
  .ChooseQuizContainer {
    padding-bottom: calc(12.5 * var(--app-vh, 1vh));
  }
}

.ChooseQuizContent {
  position: relative;
}

.ChooseQuizLabel {
  margin: calc(1 * var(--app-vh, 1vh)) 0 2% 2%;
  font-size: 1.1em;
  font-weight: 700;
}

.ChooseQuizContainerOpen {
  /* 力技感は否めない */
  position: absolute;
  top: 70%;
  right: 6%;
  font-family: "Inter", sans-serif;
  font-size: 0.9em;
  color: #5f5f5f;
  font-weight: 600;
  text-decoration: none;
}

.ChooseQuizContainerOpenSentence {
  padding: 2px 10px;
  display: inline-block;
  border: 2px solid #dbd7d4;
  border-radius: 7px;
}
