.ChooseQuizListTitle {
  color: #333333;
  -webkit-text-stroke: 0.7px #333333;
  text-align: start;
  margin-left: 6.5%;
  margin-top: 16vh;
  font-size: 1.1em;
}

.ChooseQuizContainer {
  position: relative;
  cursor: pointer;
  margin: 5%;
  margin-top: 5%;
  text-align: start;
  border-radius: 10px;
  padding: 7% 0% 5vh 8%;
  box-shadow: 0px 6px 5px rgba(130, 130, 130, 0.3);
  background-color: #fcfcfc;
  border: 0.5px solid #f6f6f6;
}

.ChooseQuizContainer:active {
  transform: scale(0.98);
  background-color: #fafafa;
}

.ChooseQuizContent {
  position: relative;
}

.ChooseQuizLabel {
  color: #333333;
  -webkit-text-stroke: 1px #333333;
  margin: 3% 0 4% 0;
  font-size: 1.4em;
  font-weight: 500;
}

.ChooseQuizContainerQuestions {
  display: flex;
  font-size: 0.7em;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: #a4a8af;
}

.ChooseQuizContainerQuestion {
  margin-right: 3%;
}

.ChooseQuizContainerOpen {
  /* 力技感は否めない */
  font-family: "Inter", sans-serif;
  position: relative;
  display: flex;
  margin-top: 12%;
  font-size: 0.9em;
  color: #f39c19;
  -webkit-text-stroke: 0.5px #f39c19;
}

.ChooseQuizContainerOpenMark {
  margin-left: 1.5vw;
  margin-top: 0.15em;
}

.ChooseQuizContainerOpen:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 9.3em;
  height: 2px;
  margin-top: 5%;
  background-color: #f39c19;
}
