.profile-info {
  margin-bottom: 20px;
  padding: 10px;
  margin-inline: 4%;
}

.profile-info-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
  text-align: left; /* テキストを左揃えにする */
}

.profile-info-label-nickname {
  color: var(--icon-color);
  font-size: 11px;
}

.profile-info-value-nickname {
  color: var(--text-color-2);
  font-size: 22px;
  font-weight: 600;
}

.profile-info-label {
  color: var(--icon-color);
  font-size: 11px;
}

.profile-info-value {
  font-weight: bold;
  color: var(--text-color-2);
  font-size: 13px;
}

.profile-message-prompt-make {
  font-size: 18px;
  color: var(--key-color);
  font-weight: 700;
}

.profile-login-prompt {
  margin-top: 50px;
  width: 95%;
}

.profile-login-prompt-container {
  display: flex;
  justify-content: center; /* X軸で中央に配置 */
  align-items: center; /* Y軸で中央に配置 */
  margin-inline: 3%;
}

.profile-container {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh; /* ビューポート全体の高さを設定 */
}
