/* TODO: 誰でものmenuと表示されるのとずれ生じる */

.owner-quiz-menu-container {
  width: 140px;
  display: flex;
  justify-content: space-around;
}

.owner-quiz-menu-container > button {
  color: var(--icon-color);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.owner-quiz-menu-edit-button {
  margin-left: 0.1em;
}

.owner-quiz-menu-container > button:active {
  transform: scale(0.95); /* クリック時に少し縮小 */
  color: var(--key-color-2);
}
