/* TODO: 誰でものmenuと表示されるのとずれ生じる */

.owner-quiz-menu-container {
  position: absolute;
  top: 70%;
  right: 0%;
  width: 140px;
  display: flex;
  justify-content: space-around;
}

.owner-quiz-menu-container > button {
  color: var(--icon-color);
  background-color: transparent;
  border: none;
  margin-left: 0.2em;
  cursor: pointer;
}

.owner-quiz-menu-container > button:active {
  transform: scale(0.95); /* クリック時に少し縮小 */
  color: var(--key-color-2);
}
