.PrepareMenus {
  color: #949494;
  position: absolute;
  top: 110%;
  right: 3%;
  display: flex;
  justify-content: space-around;
  width: 28vw;
}

.PrepareMenus > div {
  cursor: pointer;
}

.PrepareQuizPlayBtn {
  color: #adadad;
  margin-left: 1vw;
}
