.PrepareMenus {
  color: #949494;
  position: absolute;
  top: 100%;
  right: 0%;
  display: flex;
  justify-content: space-around;
  width: 140px;
  margin-right: 10px;
}

.PrepareMenus > div {
  cursor: pointer;
}

.PrepareQuizPlayBtn {
  color: #989898;
  margin-left: 4px;
}
