.PrepareQuizList {
  text-align: start;
}

.PrepareQuizContainer {
  color: var(--text-color-2);
  margin-bottom: 8%;
  margin-top: 3%;
}

.PrepareQuizContent {
  position: relative;
  z-index: 0;
  margin-left: 5%;
}

.PrepareQuizName {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 2em;
  font-weight: 600;
}

.PrepareQuizPartOfSpeechAndAnswer {
  display: flex;
  align-items: center; /* 縦方向の中央揃え */
}

.PrepareQuizPartOfSpeechContainer {
  background-color: #d3d3d3;
  border-radius: 5px;
  display: flex;
  justify-content: center; /* 横方向の中央揃え */
  align-items: center; /* 縦方向の中央揃え */
  padding: 0% 0.2em;
  margin: 0% 1% 0% 0%;
  height: 1.25em;
}

.PrepareQuizPartOfSpeech {
  color: #fcfcfc;
  font-size: 0.8em;
  font-weight: 500;
}

.PrepareQuizAnswer {
  font-size: 1.2em;
  font-weight: 600;
  color: #ffd6c0cb;
  margin-left: 0.5%;
}

.PrepareQuizBorder {
  background-color: rgb(245, 245, 245);
  width: 100%;
  height: 2px;
  margin-top: 13%;
}

.PrepareQuizBackToChooseBtnAndLabel {
  display: flex;
  margin-top: 29%;
  margin-bottom: 7%;
  margin-left: 3%;
  color: #717171;
  cursor: pointer;
  text-decoration: none;
}

.PrepareQuizBackToChooseBtn {
  text-align: start;
  margin-right: 1%;
}

.PrepareQuizLabel {
  -webkit-text-stroke: 0.5px #717171;
}
