.PrepareQuizList {
  text-align: start;
}

.PrepareQuizContainer {
  color: var(--text-color-2);
  margin-bottom: 8%;
  margin-top: 3%;
  word-wrap: break-word; /* 長い単語を折り返す */
  word-break: break-all; /* 単語内でも必要に応じて折り返す */
  overflow-wrap: break-word; /* 長い単語を折り返す */
  white-space: pre-wrap; /* 保持しながら折り返す */
}

.PrepareQuizContent {
  position: relative;
  /* あまり原因がわからないけど、これがあるとモーダルが適切に表示されない */
  /* z-index: 0; */
  margin-left: 5%;
}

.PrepareQuizName {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.8em;
  font-weight: 600;
}

.PrepareQuizPartOfSpeechAndAnswer {
  display: flex;
  align-items: center; /* 縦方向の中央揃え */
}

.PrepareQuizPartOfSpeechContainer {
  background-color: #d3d3d3;
  border-radius: 5px;
  display: flex;
  justify-content: center; /* 横方向の中央揃え */
  align-items: center; /* 縦方向の中央揃え */
  padding: 0% 0.2em;
  margin: 0% 1% 0% 0%;
  height: 1.25em;

  /* この値は答えと合わせる */
  margin-bottom: 35px;
}

.PrepareQuizPartOfSpeech {
  color: #fcfcfc;
  font-size: 0.8em;
  font-weight: 500;
}

.PrepareQuizAnswer {
  font-size: 1.2em;
  font-weight: 600;
  color: #ffd6c0cb;
  color: #ffba95cb;
  margin-left: 0.5%;
  margin-right: 4%;

  /* この値は答えと合わせる */
  margin-bottom: 35px;
}

.PrepareQuizBorder {
  background-color: rgb(245, 245, 245);
  width: 100%;
  height: 2px;
  margin-top: 13%;
}

.PrepareQuizBackToChooseBtnAndLabel {
  display: flex;
  align-items: center;
  margin-top: 29%;
  margin-bottom: 7%;
  margin-left: 3%;
  background-color: transparent;
  border: none;
  color: #717171;
  text-decoration: none;
  width: 97%;
  white-space: nowrap;
}

.PrepareQuizBackToChooseBtn {
  text-align: start;
  cursor: pointer;
  margin-right: 1%;
}

.PrepareQuizLabel {
  font-size: 14px;
  cursor: pointer;
  -webkit-text-stroke: 0.5px #717171;
  margin-bottom: 5px;
}

.prepare-quiz-menus {
  position: absolute;
  top: 93%;
  right: 2%;
}

.owner-drop-quiz-menu {
  margin: 0;

  background-color: transparent;
  border: 2px solid var(--gray-border-color);
  border: none;
  /* border-radius: 50%; */
  /* display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px; */
  cursor: pointer;
}

.owner-drop-quiz-menu:active {
  transform: scale(0.9);
  background-color: var(--gray-border-color);
}

.quiz-actions {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.quiz-action-btn-container {
  display: flex;
  flex-direction: column;
}

.quiz-action-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin: 0 40px;
  background-color: #f0f0f0;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s;
}

.quiz-action-btn-label {
  margin-top: 5px;
  font-size: 10px;
  color: #333;
}

.quiz-action-btn:hover {
  background-color: #e0e0e0;
}

.quiz-action-btn:active {
  color: var(--key-color);
  transform: scale(0.9);
}
