.quiz-actions {
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
  overflow-x: auto; /* 修正: 横スクロールを許可 */
  white-space: nowrap; /* 修正: 子要素を横並びに */
}

.quiz-action-btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px; /* 修正: 余白を調整 */
}

@media (min-width: 600px) {
  .quiz-actions {
    margin-top: 50px;
  }
}

.quiz-action-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--main-color-2);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: var(--text-color-2);
}

.quiz-action-btn-label {
  margin-top: 5px;
  font-size: 10px;
  color: var(--text-color-2);
  text-align: center; /* 追加: テキストの中央揃え */
}

.quiz-action-btn:hover {
  background-color: #e0e0e0;
}

.quiz-action-btn:active {
  color: var(--key-color);
  transform: scale(0.95);
}
