.footer-container {
  margin-top: 25%;
}

.Footer {
  color: #f6f6f6;
  background-color: var(--footer-color);
  padding-top: 5vh;
  padding-bottom: 10vh;
  margin-top: 5%;
}

.FooterContent {
  text-align: start;
}

.FooterLink {
  color: #f6f6f6;
  cursor: pointer;
  margin-top: 6%;
  margin-bottom: 6%;
  margin-left: 5%;
  font-size: 1em;
  display: block;
  text-decoration: none;
}

.BackToTop {
  color: #f6f6f6;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 6%;
  margin-left: 5%;
  border: none;
  background-color: transparent;
  padding-right: 1em;
}

.BackToTop > p {
  font-size: 1.2em;
}

.FooterCopyright {
  margin-top: 20%;
  text-align: center;
  font-size: 1em;
}
