.Footer {
  color: rgb(255, 255, 255);
  background-color: #f39b49;
  border-radius: 3px;
  padding-top: 5vh;
  padding-bottom: 10vh;
  margin-top: 25%;
  box-shadow: 0px 0px 4px rgba(41, 41, 41, 0.32);
}

.FooterContent {
  text-align: start;
}

.FooterLink {
  color: rgb(255, 255, 255);
  cursor: pointer;
  margin-top: 6%;
  margin-bottom: 6%;
  margin-left: 5%;
  font-size: 1em;
  display: block;
  text-decoration: none;
}

.BackToTop {
  color: rgb(255, 255, 255);
  cursor: pointer;
  margin-bottom: 6%;
  margin-left: 5%;
  -webkit-text-stroke: 0.5px #ffffff;
  border: none;
  background-color: transparent;
  padding-right: 1em;
}

.BackToTop > p {
  font-size: 1.2em;
}

.FooterCopyright {
  margin-top: 20%;
  text-align: center;
  font-size: 1em;
}
