.HeaderContainer {
  position: fixed; /* 固定位置を指定 */
  top: 0; /* 画面の上端から0の位置に設定 */
  left: 50%; /* 画面の左端から0の位置に設定 */

  /* menuが開いた時のずれを作ってしまっている */
  transform: translate(-50%, 0%);
  display: flex; /* Flexboxを有効化 */
  align-items: center; /* 縦方向の中央揃え */
  justify-content: flex-start; /* 水平方向の左端揃え */
  z-index: 2;

  /* ここから試し */
  width: 94%;
  max-width: 560px;
  margin-top: 2%;
  height: 50px;
  border-radius: 6px;
  box-shadow: 0px 0px 4px rgba(41, 41, 41, 0.32);
  background-color: var(--key-color);
}

.HeaderContainer {
  transition: transform 0.3s ease;
}

.HeaderContainer.hidden {
  transform: translateY(-235%) translateX(-50%);
}

/* menuがずれて表示してしまうから、それを治したい */
/* 無理やりすぎるから、どうにかしたいけど */
.HeaderContainer.MenuOpen {
  transition: none;
  color: transparent;
  background-color: transparent;
  box-shadow: none;
  transform: none;
}

.HeaderTitle {
  color: var(--main-color-2);
  color: #f6f6f6;
  font-size: 2.2em;
  margin-left: 0.8em;
  font-family: "DM Serif Text", serif;
  font-weight: 700;

  /* ここから試し */
  font-size: 1.5em;
}

.HeaderTitle.MenuOpen {
  color: transparent;
}
