.info-badge {
  color: var(--text-color-4);
  background-color: var(--key-color-3);
  padding: 3px 10px;
  display: inline-block;
  border-radius: 15px;
  font-weight: 600;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}
