.quiz-card {
  width: 75%;
  max-width: 350px;
  height: auto;
  aspect-ratio: 16 /12;
  perspective: 1000px; /* 3D効果を作成 */
  margin-top: 15px;
  border-radius: 10px; /* カードの角を丸くする */
  transition: transform 0.2s ease-in;
  cursor: pointer;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--text-color);
}

.quiz-card.is-visible {
  transform: scale(1.08);
}

.quiz-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  /* transform-style: preserve-3d; */
  transition: transform 0.5s;
}

.quiz-card.is-flipped .quiz-card-inner {
  transform: rotateX(180deg);
}

.quiz-card-front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  border-radius: 8px; /* カードの角を丸くする */
  background-color: #fbfbfb;
  box-shadow: 0 3px 10px 5px rgba(131, 116, 94, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

.quiz-card-front.is-flipped {
  box-shadow: 0 -3px 10px 5px rgba(131, 116, 94, 0.1);
}

.quiz-card-front.is-visible {
  box-shadow: 0 3px 10px 5px rgba(131, 116, 94, 0.15);
  background-color: #fbfbfb;
}

.quiz-card-front.is-flipped.is-visible {
  box-shadow: 0 -3px 10px 5px rgba(131, 116, 94, 0.15);
}

.quiz-card-front-element {
  font-weight: 800;
}

.quiz-card-back-element {
  transform: rotateX(180deg);
  display: "inline-block";
}
