.quiz-card {
  width: 75%;
  max-width: 350px;
  height: auto;
  aspect-ratio: 16 /12;
  perspective: 1000px; /* 3D効果を作成 */
  margin-top: 15px;
  border-radius: 10px; /* カードの角を丸くする */
  transition: transform 0.2s ease-in;
  cursor: pointer;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--text-color-2);
}

.quiz-card.is-visible {
  transform: scale(1.08);
}

.quiz-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
}

.quiz-card.is-flipped .quiz-card-inner {
  transform: rotateX(180deg);
}

.quiz-card-front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  border-radius: 8px; /* カードの角を丸くする */
  background-color: var(--main-color);
  box-shadow: 0 3px 10px 5px rgba(131, 116, 94, 0.1);
  transition: box-shadow 0.3s ease-in-out;

  overflow-y: scroll;
}

.quiz-card-front.is-flipped {
  box-shadow: 0 -3px 10px 5px rgba(131, 116, 94, 0.1);
}

.quiz-card-front.is-visible {
  box-shadow: 0 3px 10px 5px rgba(131, 116, 94, 0.15);
}

.quiz-card-front.is-flipped.is-visible {
  box-shadow: 0 -3px 10px 5px rgba(131, 116, 94, 0.15);
}

.quiz-card-front-element {
  font-weight: 800;
}

.quiz-card-back-element {
  transform: rotateX(180deg);
  display: "inline-block";
}

.quiz-card-back-element,
.quiz-card-front-element {
  margin: 5px;
  padding: 0;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);

  word-wrap: break-word; /* 長い単語を折り返す */
  word-break: break-all; /* 単語内でも必要に応じて折り返す */
  overflow-wrap: break-word; /* 長い単語を折り返す */
  white-space: pre-wrap; /* 保持しながら折り返す */
}
