.introductionContainer {
  color: #3b3b3b;
  margin-top: calc(20 * var(--app-vh, 1vh));
  text-align: left;
  white-space: pre-wrap;
  margin-left: 6vw;
  line-height: 2;
  font-size: 0.8em;
}

.introductionBold {
  color: #ffb766;
  font-size: 1.2em;
}

.introductionBig {
  font-size: 1.4em;
}
