.introductionContainer {
  color: var(--text-color-3);
  margin-top: 150px;
  white-space: pre-wrap;
  line-height: 2;
  font-family: "Hiragino Kaku Gothic ProN", "游ゴシック", "Yu Gothic",
    sans-serif;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.slider-container {
  width: 100%;
  margin: auto;
}

.slick-slide {
  width: 100%;
  height: auto;
  aspect-ratio: 6 / 4.1;
  text-align: center;
}

.slick-slide > div {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slick-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
