.breakTimeContainer {
  position: absolute;
  padding: 10px 20px;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.breakTimeValue {
  color: var(--main-color-2);
  font-size: 24px;
}

.breakTimeValueJapanese {
  margin-top: 4px;
  font-size: 14px;
}
