.container {
  width: 100px;
  height: 30px;
  border: 2px solid #f09038;
  outline: 1px solid #fff;
  padding: 15px;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
  z-index: 2;

  /* この二つの値で、端に２つずつ表示してる、どうやってるかはよくわからん */
  margin: 16px 6vw;
  /* margin: 16px 13vw; */
  flex: 5 1 20%;
  /* flex: 4 3 20%; */
}

@media (min-width: 569px) {
  .container {
    margin: 16px 13vw;
  }
}

.choice_value {
  color: white;
  font-size: 14px;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 600;
}
