.container {
  width: 100px;
  height: 30px;
  border: 2px solid #f09038;
  outline: 1px solid #fff;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  /* この二つの値で、端に２つずつ表示してる、どうやってるかはよくわからん */
  margin: 16px 6vw;
  flex: 5 1 20%;
}

.choice_value {
  color: white;
  font-size: 14px;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 600;
}
