.playQuiz-GoPrepareBtn {
  position: absolute;
  top: 88.3%;
  left: 10%;
  z-index: 2;
  text-align: center; /* アイコンとテキストを中央揃えにする */
  cursor: pointer;
}

.playQuiz-GoPrepareBtnLabel {
  font-family: "Noto Sans JP", sans-serif;
}
