.playQuiz-GoReviewBtn {
  position: absolute;
  top: 89%;
  right: 10%;
  z-index: 2;
  text-align: center; /* アイコンとテキストを中央揃えにする */
  cursor: pointer;
  color: #e0e0e0;
  text-decoration: none;
}

.playQuiz-GoReviewBtnLabel {
  font-family: "Noto Sans JP", sans-serif;
}
