.playQuiz-GoReviewBtn {
  position: absolute;
  top: 88.3%;
  right: 10%;
  z-index: 2;
  text-align: center; /* アイコンとテキストを中央揃えにする */
  cursor: pointer;
}

.playQuiz-GoReviewBtnLabel {
  font-family: "Noto Sans JP", sans-serif;
}
