#videoContainer {
  position: fixed; /* relative から fixed に変更 */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(4, 4, 4, 0.6);
  z-index: 1; /* 必要に応じて他の要素の上に表示させるため */
}

video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.videoBtn {
  position: absolute;
  top: 90%;
  left: 80%;
}

.overlayText {
  position: absolute;
  /* transform: translate(-50%, -50%); */
  color: white;
}

#stopButton,
#startButton,
#speakButton,
#minaoshiButton {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 5%;
  left: 85%;
  /* transform: translate(-50%, -50%); */
  color: white;
  background-color: rgb(0, 115, 90, 0.5);
  padding: 5px;
  border-radius: 3px;
  /* border-color: rgba(202, 202, 202, 0.7); */
  border: 1px solid rgba(56, 93, 59, 0.7);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.6);
}

#minaoshiButton {
  bottom: 90%;
  left: 75%;
}

.material-icons {
  /* margin-top: 5px; */
  color: aliceblue;
  size: 3vw;
}

#backButton {
  position: absolute;
  color: white;
  background-color: rgb(0, 115, 90, 0.5);
  padding: 5px;
  border-radius: 3px;
  /* border-color: rgba(202, 202, 202, 0.7); */
  border: 1px solid rgba(56, 93, 59, 0.7);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.6);
  bottom: 5%;
  left: 7%;
}

#question {
  position: absolute;
  z-index: 5;
  top: 45%; /* 中央より少し上に変更 */
  left: 50%; /* 横方向の中央揃え */
  color: white;
  text-shadow: 3px 3px 1px rgb(0, 115, 90);
  font-family: "Roboto", sans-serif;
  padding: 5px;
  letter-spacing: 2px;
  font-size: 30px;
  border-radius: 3px;
  transform: translate(-50%, -50%); /* 要素自体の中央を基準に配置を調整 */
}

ul {
  list-style-type: none;
  padding: 0;
  position: absolute; /* 固定位置にするためのプロパティ */
  top: 25%; /* 垂直方向の中央 */
  left: 50%; /* 水平方向の中央 */
  transform: translate(-50%, -50%); /* ulの中心を基準に移動 */
  display: flex; /* 選択肢 (li) を横並びにする */
  justify-content: center; /* 選択肢を中央に揃える */
}

li {
  margin-bottom: 15px; /* 各選択肢の下に隙間を追加 */
  background-color: rgb(0, 115, 90, 0.5);
  font-size: 3.5vw;
  padding: 5px 3px;
  border-radius: 5px;
  border: 2px solid rgba(56, 93, 59, 0.7);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.6);
  display: block; /* 選択肢を横並びに */
  margin-left: 20px; /* 右側の隙間を追加 */
}

li:first-child {
  margin-left: 0; /* 最初の選択肢には左側の隙間を追加しない */
}
