.ReviewQuizList {
  text-align: start;
}

.ReviewQuizContainer {
  color: black;
  margin-bottom: 10%;
  margin-top: 5%;
}

.ReviewQuizContent {
  position: relative;
  z-index: 0;
  margin-left: 5%;
}

.ReviewQuizName {
  font-family: "DM Serif Text", serif;
  font-size: 2.2em;
  font-weight: 700;
}

.ReviewQuizAnswer {
  font-size: 1.4em;
  font-weight: 600;
  color: rgb(44, 44, 44);
  margin-left: 0.5%;
}

.ReviewQuizDeleteBtn {
  position: absolute;
  cursor: pointer;
  top: 110%;
  right: 5%;
}

.ReviewQuizBorder {
  background-color: rgb(245, 245, 245);
  width: 100%;
  height: 2px;
  margin-top: 10%;
}

.ReviewQuizBackQuizBtn {
  margin-top: 25%;
  margin-bottom: 10%;
  cursor: pointer;
  color: rgb(122, 122, 122);
  text-align: start;
  margin-left: 4%;
  font-weight: 700;
}
