.application-contact {
  margin: 0 auto;
  padding: 20px;
  max-width: 800px;
  line-height: 1.6;
  font-family: "Arial", sans-serif;
  color: var(--text-color-3);
  text-align: left; /* 文字を左揃えにする */
  margin-top: 50px;
}

.contact-content > h1 {
  font-size: 1.3em;
  margin-bottom: 20px;
  border-bottom: 2px solid var(--gray-border-color);
  padding-bottom: 10px;
}

.contact-content > h2 {
  font-size: 1.2em;
  margin-top: 40px;
  margin-bottom: 10px;
  border-bottom: 1px solid var(--gray-border-color);
  padding-bottom: 5px;
}

.contact-content > h3 {
  font-size: 1.2em;
  margin-top: 15px;
  margin-bottom: 10px;
}

.contact-content > p,
.contact-content > ul {
  margin-bottom: 15px;
  text-align: justify; /* テキストを均等配置 */
}

.contact-content > ul {
  padding-left: 20px;
}

.contact-content > ul > li {
  list-style-type: disc;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form label {
  margin-bottom: 5px;
}

.contact-form input,
.contact-form textarea {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid var(--gray-border-color);
  border-radius: 4px;
  font-family: "Arial", sans-serif;
}

.contact-form button {
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Arial", sans-serif;
}

.contact-form button:hover {
  background-color: var(--primary-color-dark);
}
