:root {
  font-family: "Hiragino Kaku Gothic ProN", "游ゴシック", "Yu Gothic", system-ui,
    Helvetica, sans-serif, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --main-color: #fcfcfc;
  --main-color-2: #f6f6f6;

  --key-color: #fa9a3f;
  --key-color-2: #ffa24c;
  --key-color-3: #fdecd4;

  --text-color: #151515;
  --text-color-2: #333333;
  --text-color-3: #4d4d4d;
  --text-color-4: #676767;

  --icon-color: #949494;

  --gray-border-color: #f0eceb;

  --background-color: #e8e1db;
  --background-color: #fbfaf9;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

.dark-mode {
  --main-color: #413933;
  --text-color: #bbb5b5;
  --key-color: #fa993fd5;
  --key-color-2: #fa9a3f;
  --gray-border-color: #766d6d;
  --icon-color: #867e7e;
  --background-color: #2e2620;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  /* max-width: 600px; */
  max-width: 600px;
  margin: 0 auto;
  background-color: var(--background-color);
}
