:root {
  font-family: "Hiragino Kaku Gothic ProN", "游ゴシック", "Yu Gothic", system-ui,
    Helvetica, sans-serif, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --main-color: #fcfcfc;
  --main-color-2: #f6f6f6;

  --key-color: #ff9430;
  --key-color-2: #ffa24c;

  --text-color: #151515;
  --text-color-2: #333333;
  --text-color-3: #4d4d4d;

  --gray-border-color: #f0eceb;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  /* max-width: 600px; */
  max-width: 600px;
  margin: 0 auto;
  background-color: #fbfaf9;
}
