:root {
  font-family: "Hiragino Kaku Gothic ProN", "游ゴシック", "Yu Gothic", system-ui,
    Helvetica, sans-serif, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --main-color: #fcfcfc;
  --main-color-2: #f6f6f6;

  --key-color: #fa9a3f;
  --key-color-2: #ffa24c;
  --key-color-2-5: #ffba95cb;
  --key-color-3: #fdecd4;

  --favorite-color: #fa9a3f;

  --text-color: #151515;
  --text-color-2: #333333;
  --text-color-3: #4d4d4d;
  --text-color-4: #676767;

  --icon-color: #949494;

  --gray-border-color: #f0eceb;
  --quiz-border-color: rgb(245, 245, 245);

  --background-color: #fbfaf9;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

.dark-mode {
  --background-color: #2e2620;

  --main-color: #413933;
  --main-color-2: #827d78;

  --text-color: #efefef;
  --text-color-2: #eae9e9;
  --text-color-4: #dcd8d8;

  --key-color: #fa993fd5;
  --key-color-2: #fa9a3f;
  --key-color-2-5: #59473c;

  --favorite-color: #ffb977;

  --gray-border-color: #766d6d;
  --quiz-border-color: rgb(68, 60, 54);

  --icon-color: #c6beb8;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  /* max-width: 600px; */
  max-width: 600px;
  margin: 0 auto;
  background-color: var(--background-color);
}
